#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: francozanabria
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCnSg1Csy5Hb8yB7OlazZxHxV8UhiQuxPM4z7YRJydCDEYUnPzdjgvaENZIQQp9xlDK6ZgN1QlFordSPGZfWrLmaaXUueSC/aV1rjLHupY5lwmJKFKHJczF0rzeaiLfVlJjb0sEDDzQXNJhIHQsg/ZoUZfzVCnSiaUh1C8c/1ILfqjgTvjCsJm/UJJTTMi4qLYdFACQnL15GJIW1XGbHdDwlZuhWHwkFpzVafm6JIhQvp5R7Td5BoJobib84mtJYh7NVxmCF42QvrMb1LMWxTF750R0kxSGypR43Lh49MOJCPvhQFVVWe+eTGKYUdCMHai3GFnBmuuqPK2tC4KzIEur francozanabria@usrv03
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false

